.container {
    border: 1px solid rgba(0,0,0,.1);
    background: #fff;
    border-radius: 6px;
    margin: 0.5rem;
    padding: 1rem;
    min-width: 340px;
    max-width: 480px;
    flex: 1 1;
    box-shadow: 1px 1px 1px 0px rgb(0 0 0 / 13%);
    position: relative;
}

.epicNo {
    font-weight: 500;
    font-size: 15px;
}

.para {
    margin-top: 0.3rem;
    font-size: 14px;
}

.fatherName {
    display: flex;
}

.marginLeft {
    margin-left: 1rem;
}

.title {
    font-size: 1rem;
    margin: 0;
    margin-bottom: 0.3rem;
    margin-top: -5px;
    font-weight: 500;
}

.id {
    padding: 0px 8px 8px 8px;
    letter-spacing: 1px;
    --size: 2rem;
    height: var(--size);
    min-width: var(--size);
    line-height: var(--size);
    text-align: center;
    background: rgba(0, 0, 0, .1);
    border-radius: 50px;
    /* padding: 0 0.25rem;   */
}

.wards {
    display: flex;
    justify-content: space-between;
}

.spaceBetween {
    display: flex;
    justify-content: space-between;
}